@model Financial_Portal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginShared.cshtml";
}

<div class="module module-login span4 offset4">
    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
            new { @class = "form-horizontal validate-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)
        <div class="module-head">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="module-body">
            <div class="control-group">
                <div class="controls row-fluid wrap-input100 validate-input" data-validate="Valid email is required">
                    <input class="span12 input100" type="text" name="email" id="Email" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <div class="controls row-fluid wrap-input100 validate-input" data-validate="Password is required">
                    <input class="span12 input100" type="password" name="password" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls row-fluid wrap-input100 validate-input" data-validate="Does not match password">
                    <input class="span12 input100" type="password" name="confirmpassword" id="ConfirmPassword" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <div class="module-foot">
            <div class="control-group">
                <div class="controls clearfix">
                    <button type="submit" class="btn btn-navbar pull-right">Reset</button>
                </div>
            </div>
        </div>
    }
</div>
