@model Financial_Portal.Models.Household

@{
    ViewBag.Title = "Create Household";
}

<div class="module" style="width:80%">
    <div class="module-head">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="module-body">
        <br />
        @using (Html.BeginForm("Create", "Households", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                <label class="control-label" for="Name">Household Name</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name, new { @class = "span8", placeholder = "Household Name" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">Create</button>
                </div>
            </div>
            <br />
        }
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Home")
</div>
